# Copyright (c) 2021 Teslabs Engineering S.L.
# SPDX-License-Identifier: Apache-2.0

if BOARD_NUCLEOF302R8_IHM07M1

config BOARD
	default "nucleof302r8_ihm07m1"

config FPU
	default y

endif # BOARD_NUCLEOF302R8_IHM07M1
