/*
 * Copyright (c) 2021 Teslabs Engineering S.L.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/g4/stm32g431Xb.dtsi>
#include <st/g4/stm32g431r(6-8-b)tx-pinctrl.dtsi>
#include <dts-bindings/adc/stm32g4xx.h>

/ {
	model = "NUCLEOG431RB + IHM16M1";

	chosen {
		zephyr,console = &lpuart1;
		zephyr,shell-uart = &lpuart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(24)>;
	status = "okay";
};

&pll {
	div-m = <6>;
	mul-n = <85>;
	div-p = <7>;
	div-q = <2>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(170)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

&gpioc {
	status = "okay";
};

&timers1 {
	svpwm: svpwm {
		compatible = "st,stm32-svpwm";
		pinctrl-0 = <&tim1_ch1_pa8 &tim1_ch2_pa9 &tim1_ch3_pa10 &tim1_ocp_pa11>;
		pinctrl-names = "default";

		t-dead-ns = <0>;
		/* STSPIN830 rise time: tINd(ON) + tRISE (Table 5) */
		t-rise-ns = <670>;
		currsmp = <&currsmp>;
		enable-gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>,
					   <&gpiob 14 GPIO_ACTIVE_HIGH>,
					   <&gpiob 15 GPIO_ACTIVE_HIGH>;
	};
};

&adc1 {
	currsmp: currsmp {
		compatible = "st,stm32-currsmp-shunt";
		pinctrl-0 = <&adc1_in2_pa1 &adc1_in12_pb1 &adc1_in15_pb0>;
		pinctrl-names = "default";

		adc-resolution = <12>;
		adc-tsample = <3>;
		adc-channels = <2 12 15>;
		adc-trigger = <STM32_ADC12_INJ_TRIG_TIM1_TRGO>;
	};
};

&timers2 {
	feedback: feedback {
		compatible = "st,stm32-halls";

		pinctrl-0 = <&tim2_ch1_pa15 &tim2_ch2_pb3 &tim2_ch3_pb10>;
		pinctrl-names = "default";

		h1-gpios = <&gpioa 15 0>;
		h2-gpios = <&gpiob 3 0>;
		h3-gpios = <&gpiob 10 0>;
		phase-shift = <60>;
	};
};

&lpuart1 {
	pinctrl-0 = <&lpuart1_tx_pa2 &lpuart1_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

/* FIXME: missing upstream */
&pinctrl {
	tim1_ocp_pa11: tim1_ocp_pa11 {
		pinmux = <STM32_PINMUX('A', 11, AF12)>;
	};
};
