# Copyright (c) 2021 Teslabs Engineering S.L.
# SPDX-License-Identifier: Apache-2.0

config SPINNER_FEEDBACK_HALLS_STM32
	bool "STM32 halls feedback driver"
	depends on SOC_FAMILY_STM32
	default y
	depends on DT_HAS_ST_STM32_HALLS_ENABLED
	select USE_STM32_LL_TIM
	help
	  Enable halls driver for STM32 SoCs
